/* Complete the CSS styling according to the provided design */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(./images/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    padding-left: 280px;
    padding-top: 50px;
    width: 470px;
}

h1 {
    color: goldenrod;
}

#message-el {}